---
title: Auto Grid
tags:
    - componentExample
---
<div class="auto-grid">
    <img class="radius-md shadow-base" src="https://unsplash.it/500/280?random=1" alt=""/>
    <img class="radius-md shadow-base" src="https://unsplash.it/500/280?random=2" alt=""/>
    <img class="radius-md shadow-base" src="https://unsplash.it/500/280?random=3" alt=""/>
</div>