---
title: Cluster
tags:
    - componentExample
---
<div class="cluster">
    <ul>
        <li class="bg-blue-500 c-blue-100 radius-md px-4 py-1">
			HTML
		</li>
        <li class="bg-green-500 c-green-100 radius-md px-4 py-1">
			CSS
		</li>
        <li class="bg-red-500 c-red-100 radius-md px-4 py-1">
			Javascript
		</li>
    </ul>
</div>