---
title: Flow
tags:
    - componentExample
---
<article class="flow">
    <h1>How to Reboot your Dog</h1>
    <p>
		Wow what a weird topic. hey? I dunno, sometimes your dog needs a reboot,
		so here's how we might go about doing that.
	</p>
    <img
		src="https://images.unsplash.com/photo-1544568100-847a948585b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&height=620&q=80"
		loading="lazy"
	/>
    <p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
		consequat blandit maximus. Suspendisse potenti. Donec in orci euismod,
		volutpat erat sed, gravida nisi.
	</p>
</article>